
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';
@import 'https://fonts.googleapis.com/css?family=Monoton';
@import 'https://fonts.googleapis.com/css?family=Russo+One';
@import 'https://fonts.googleapis.com/css?family=Asap:400,700';
@import 'https://fonts.googleapis.com/css?family=Pathway+Gothic+One';


/*Website*/

body,
html 
  {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

.wrapper 
  {
    position: relative;
    height: 100%;
    background-image: url("../Images/Background.JPG");
    background-size: cover;
  }

.Title 
  {
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 2px #331900;
    position: absolute;
    left: 2%;
    display: inline-block;
    color: rgba(255,255,255,.75)  ;
    font-size: 163%;
    line-height: 176%;
  }

.player_main 
  {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }


/*Player visual*/

.player 
  {
    position: relative;
    width: 960px;
    height: 507px;
    border-radius: 40px;
    background: url(../Images/1.jpg);
    background-size: cover;
      }

.player_foot 
  {
    position: absolute;
    display: block;
    width: 30px;
    height: 60px;
    background: black;
    bottom: -15px;
    border-radius: 15px;
    z-index: -1;
    background: -webkit-linear-gradient(top left, rgba(115, 115, 115, 1) 0%, 
                                                  rgba(14, 14, 14, 1) 100%);
    background: linear-gradient(to bottom right,  rgba(115, 115, 115, 1) 0%,   
                                                  rgba(14, 14, 14, 1) 100%);
    left: 110px;
  }

.player_foot2 
  {
    position: absolute;
    display: block;
    width: 30px;
    height: 60px;
    background: black;
    bottom: -15px;
    border-radius: 15px;
    z-index: -1;
    background: -webkit-linear-gradient(top left, rgba(115, 115, 115, 1) 0%, 
                                                  rgba(14, 14, 14, 1) 100%);
    background: linear-gradient(to bottom right,  rgba(115, 115, 115, 1) 0%,   
                                                  rgba(14, 14, 14, 1) 100%);
    right: 110px;
  }

.main_shadow 
  {
    position: absolute;
    top: 6px;
    left: 7px;
    width: 956px;
    height: 99%;
    border-radius: 33px / 39px;
    box-shadow: -7px -7px 5px #000;
    opacity: 0.6;
  }

.second_plate 
  {
    position: absolute;
    width: 856px;
    height: 439px;
    background: url(../Images/2.jpg);
    border-radius: 14px;
    background-size: contain;
    left: 50%;
    top: 52%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 35px #000000;
  }

.speaker_cover 
  {
    position: absolute;
    width: 94%;
    height: 59%;
    top: 5%;
    background: url(../Images/3.jpg);
    background-size: cover;
    left: 24px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #000000;
  }

.logo2 
  {
    position: absolute;
    width: 17%;
    height: 34%;
    background-image: url(../Images/logos2.png);
    background-repeat: no-repeat;
    background-position-x: top;
    float: center;
    right: 2%;
    margin-top: -4px;
    transform: rotate(0deg);
    cursor: pointer;
    top: 5%;
    background-size: contain;
    border-radius: 25%;
  }
   
.belowspeaker 
  {
    position: absolute;
    width: 94%;
    height: 27%;
    bottom: 20px;
    background: url(../Images/4.jpg);
    background-size: cover;
    left: 24px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #868686;
  }

.fm_main 
  {
    position: relative;
    height: 101px;
    width: 55%;
    background: black;
    right: -424px;
    bottom: -310px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.53);
    overflow: hidden;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
  }

.fm_main1 
  {
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0%;
    top: 0%;
    background-color: #f80;
    border-top-color: #ffc480;
    border-left-color: #ffac4d;
    border-right-color: #b35f00;
    border-bottom-color: #b35f00;
    box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5),
                0.4rem 0.4rem 0.1rem 0 rgba(0, 0, 0, 0.25),
                0 0 0.8rem 0.4rem rgba(255, 136, 0, 0.875), 
                0 0 6.4rem 0.8rem rgba(255, 136, 0, 0.75);
  }

.radio_offline 
  {
    color: #000000;
    position: absolute;
    left: 130px;
    top: 35%;
    font-weight: bold;
    font-size: 20px;
  }  

.offline_red 
  {
    content: "";
    display: none;
    position: absolute;
    right: 15px;
    top: 75px;
    width: 12px;
    height: 12px;
    z-index: 2;
    border-radius: 10px;
    background: #ff0000;
    background: gradient-gradient(#ffffff, #77a1b9);
    box-shadow: inset 0 1px 0 rgb(255, 0, 0), 
                      0 1px 0 rgba(255,255,255,0.1),
                      0 0 10px rgb(255, 0, 0), 
                inset 0 0 8px rgb(255, 0, 0), 
                inset 0 -2px 5px rgba(159, 239, 112, 0.3),
                inset 0 -3px 8px rgba(255, 0, 0);
  }
  
.online_green
  {
    content: "";
    display: none;
    position: absolute;
    right: 15px;
    top: 75px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    z-index: 2;
    background: #4cfe4c;
    background: gradient-gradient(#ffffff, #77a1b9);
    box-shadow: inset 0 1px 0 rgb(86, 255, 61),
                      0 1px 0 rgba(255,255,255,0.1), 
                      0 0 10px rgb(70, 230, 0), 
                inset 0 0 8px rgb(2, 255, 31), 
                inset 0 -2px 5px rgba(159, 239, 112, 0.3), 
                inset 0 -3px 8px rgba(30, 233, 0, 0.88);
  }

.now 
  {
    display:none;
    color: #000000;
    position: absolute;
    left: 20%;
    top: 26%;
    font-weight: bold;
    font-size: 12px;
  }
  
.next 
  {
    display:none;
    color: #000000;
    position: absolute;
    left: 121px;
    top: 52%;
    font-weight: bold;
    font-size: 12px;
  }
  
.radioco_song 
  {
    display: block;
    color: #000000;
    position: absolute;
    left: 37%;
    top: 23%;
    font-size: 15px;
    font-weight: bold;
  }
  
.radioco_status 
  {
    display: block;
    color: #000000;
    position: absolute;
    left: 86%;
    top: 72%;
    font-size: 12px;
    font-weight: bold;
  }
  
.radioco_next 
  {
    display: block;
    color: #000000;
    position: absolute;
    left: 175px;
    top: 54px;
    font-size: 11px;
    font-weight: bold;
  }
  
.radioco_artwork>img 
  {
    width:80px;
    height:80px;
    margin-top: 10px;
    margin-left: -379px;
  }

.fm_glass 
  {
    position: absolute;
    width: 101%;
    height: 108%;
    left: -2px;
    top: -5px;
    display: block;
    z-index: 2;
    opacity: 0.2;
    background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 1) 3%,
                                                rgba(255, 255, 255, 1) 32%, 
                                                rgba(255, 255, 255, 0.19) 57%,
                                                rgba(255, 255, 255, 0) 63%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 3%,
                                        rgba(255, 255, 255, 1) 32%,
                                        rgba(255, 255, 255, 0.19) 57%, 
                                        rgba(255, 255, 255, 0) 63%);
  }

.controls_fm_main 
  {
    position: absolute;
    width: 350px;
    height: 200px;
    bottom: 48px;
    left: 49%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

/*--CIRCLE_TEXT--*/

.vol 
  {
    position: absolute;
    font-family: 'Asap', sans-serif;
    font-size: 12px;
    top: 59%;
    left: 135%;
    font-weight: 700;
    color: #f5deb3;;
  }

.min 
  {
    position: absolute;
    font-family: 'Asap', sans-serif;
    font-size: 8px;
    bottom: -8%;
    font-weight: bold;
    color: #f5deb3;
    left: 126%;
  }

.max 
  {
    position: absolute;
    font-family: 'Asap', sans-serif;
    font-size: 8px;
    bottom: -8%;
    left: 153%;
    font-weight: bold;
    color: #f5deb3;
  }

.off 
  {
    position: absolute;
    list-style: none;
    top: 59%;
    left: -61%;
  }

.off li:first-child::before 
  {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f5deb3;
    bottom: -9px;
    right: 8px;
  }

.off li:nth-child(2)::before 
  {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f5deb3;
    bottom: -9px;
    right: 7px;
  }

.off li:nth-child(3)::before 
  {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f5deb3;;
    bottom: -8px;
    right: 13px;
  }

.off li 
  {
    font-size: 12px;
    font-family: 'Asap', sans-serif;
    display: inline-block;
    font-weight: 700;
    color: #f5deb3;;
  }  

/*MINI CIRCLES #1*/

.mini_main 
  {
    position: relative;
    top: -1%;
    left: -38%;
    width: 100px;
    height: 60px;
    display: inline-block;
  }

.tune_mini_circle 
  {
    display: block;
    position: absolute;
    left: 468%  ;
    width: 75px;
    top: 240%;
    height: 75px;
    border-radius: 50%;
    background: url(../Images/5.jpg);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(0deg);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.8),
                      0 0 6px rgba(0, 0, 0, 0.7), 
                      1px 2px 1px rgba(0, 0, 0, 0.7);
  }
  
.tune_mini_circle:after 
  {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    background: url(../Images/6.jpg);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),    
                      0 0 8px rgba(0, 0, 0, 0.7),
                      0 1px 1px rgba(0, 0, 0, 0.7);
    border: 2px solid #654321;                
  }
  
.tune_mini_circle:before 
  {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 13px;
    border-radius: 50px;
    background: rgb(236, 202, 202);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.90);
    left: 50%;
    top: 5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
  }

.tune_mini_circle 
  {
    transform: rotate(-0deg);
    cursor: pointer;
    transition: transform 0.1s ease-out;
  }  

/*MINI CIRCLES #2*/

.tune_mini_circle_2 
  {
    display: block;
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate();
    top: 240%;
    background: url(../Images/5.jpg);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.8), 
                      0 0 6px rgba(0, 0, 0, 0.7), 
                      1px 2px 1px rgba(0, 0, 0, 0.7);
  }

.tune_mini_circle_2::after 
  {
    content: "";
    background: linear-gradient(to bottom, #fdfde5, #cdc79a);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    background: -webkit-linear-gradient(top, rgb(228, 228, 177), 
                                             rgb(187, 187, 137));
    background: -webkit-linear-gradient(top, #fdfde5, #cdc79a);
    transform: translate(-50%, -50%);
    z-index: 1;
    background: url(../Images/6.jpg);
    border: 2px solid #654321;
}

.tune_mini_circle_2:before 
  {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 13px;
    border-radius: 50px;
    background: rgb(161, 161, 161);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.40);
    left: 50%;
    top: 5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
  }

.tune_mini_circle_2 
  {
    left: -166%;
  }

.tune_mini_circle_2 {
  transform: rotate(-40deg);
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

#shelf 
  {
    width: 100%;
    height: 71px;
    margin: 100px auto 0;
    position: absolute;
    z-index: -10;
    bottom: -6%;
  }

.front 
  {
    width: 110%;
    height: 40px;
    background: url(../Images/7.jpg);
    position: absolute;
    bottom: -23px;
    left: -40px;
    box-shadow: -9px -8px 15px 3px #0b0b0b;
    background-size: cover;
  }

  
  .social-toggle {
    display:block;
    font-weight:bold;
    font-size:90%;
    text-align:center;
    
    transition:all 0.25s;
    color:rgb(200,200,200);
    background:rgba(200,200,200,.05);
    
  }
  
  .social-toggle:hover {
    
    color:black;
  }
  
  .social-networks {
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0) translateY(-190px);
    transform: scale(0) translateY(-190px);
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-left: -45%;
    /* stops flickering */
    -webkit-backface-visibility: hidden;
  }
  
  .fa
  {
    top: 5px;
    position: relative;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .social-gplus {
    background: #e34429;
  }
  
  .social-twitter {
    background: #6cdfea;
  }
  
  .social-networks.open-menu, .no-js .social-networks {
    -webkit-transform: scale(1) translateY(-90px);
    transform: scale(1) translateY(-90px);
    opacity:1;
  }
  
  
  .social-networks ul {
    position: fixed;  
    top:110px;
    left:-50px;
    width: 180px;
    height: 40px;
    color: #fff;
    background: #3b5998;
    margin: auto;
    padding: 0;
    list-style: none;
  }
  
  .social-networks ul:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 77px;
    top: -43px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    transform: rotate(180deg);
  }
  
  .social-networks.open-menu ul:after, .no-js .social-networks ul:after {
    margin: 35px auto;
    border-top: 12px solid #3b5998;
  }
    
  .social-networks li {
    font-size: 90%;
    width: 60px;
    margin: 0;
    text-align: center;
    float: left;
    display: block;
    height: 40px;
    line-height:29px;
    position: relative;
    z-index: 2;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s ease;
  }  



 

